{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}
{% block menu %}{{render(controller('App\\Controller\\ShopController::mainMenu',{'routeName' : app.request.attributes.get('_route'),'currentSlug':app.request.attributes.get('_route_params')}))}}{% endblock %}
{% block ariane %}{{render(controller('App\\Controller\\ArianeController::index',{'path' : app.request.attributes.get('_route'),'data_array':app.request.attributes.get('_route_params')}))}}{% endblock %}
{% block info %}<p class="text-right">Il y a : {{category[0].product|length}} article(s) dans la catégorie {{slug}} </p>
{% endblock %}

{% block body %}


{% for nbr, categorie in category %}
<div class="product-badge text-center justify-content-around">

  {% for product in categorie.product %}
  <div class="card col-3 ml-1 mb-3">
    <a href="{{path('shop.single.index',{'id': product.id})}}"><img src="{{asset(''~ product.image)}}" class="card-img-top"
        alt="{{product.description}}"></a>
    <div class="card-body">
      <h6 class="card-text"><b>Nom : </b><a href="{{path('shop.single.index',{'id': product.id})}}">{{product.name}}</a>
        {% if product.code == "solde" %}
        <span class="badge badge-danger">SOLDÉ !</span>
        {% endif %}
      </h6>
      <p class="card-text text-success"><b>Prix : {{product.price}} €</b></p>
      <a class="btn btn-dark" href="{{path('shop.single.index',{'id': product.id})}}">Consulter</a>
    </div>
  </div>
  {% endfor %}


</div>

{% endfor %}

{% endblock %}