{% extends 'base.html.twig' %}

{% block title %}Bienvenu dans La Maison !{% endblock %}

{% block body %}


<div class="pagination">
  {{ knp_pagination_render(pagination) }}
</div>

<div class="product-badge text-center justify-content-around">
  {% for product in pagination %}

  <div class="card col-3 ml-1 mb-3">
    <a href="{{path('shop.single.index',{'id': product.id})}}"><img src="{{asset(''~ product.image)}}"
        class="card-img-top" alt="{{product.description}}"></a>
    <div class="card-body">
      <h6 class="card-text"><b>Nom : </b><a href="{{path('shop.single.index',{'id': product.id})}}">{{product.name}}</a>

        {% if product.code == "solde" %}
        <span class="badge badge-danger">SOLDÉ !</span>
        {% endif %}

      </h6>
      <p class="card-text text-success"><b>Prix : {{product.price}} €</b></p>
      <a href="{{path('shop.single.index',{'id': product.id})}}" class="btn btn-dark mb-3">Consulter</a>
      
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <a href="{{path('shop.single.index',{'id': product.id})}}" class="btn btn-success">Ajouter au panier</a>
      {% endif %}

    </div>
  </div>
      
  {% endfor %}
</div>

<div class="pagination">
  {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}